<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/editGameStyle.css">
    <title>Edit Game</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div id='body'>
        <br>
        <h1>Edit: "<%= foundGame.title %>"</h1>
        <form method='POST' action='/game/<%= foundGame._id %>?_method=PUT'>
            <label for='title'>New Title of Game:</label>
            <input type='text' name='title' value='<%= foundGame.title %>'>
            <br>
            <label for="console">New Console:</label>
            <input type="text" name="console" value='<%= foundGame.console %>'>
            <br>
            <label for="genre">New Genre:</label>
            <input type="text" name="genre" value='<%= foundGame.genre %>'>
            <br>
            <label for="summary">New Game Summary:</label>
            <input type="text" name="summary" value='<%= foundGame.summary %>'>
            <br>
            <input type='submit'>
        </form>
    </div>
</body>
</html>