<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet', href='/js/bootstrap.bundle.js'>
    <link rel='stylesheet', href='/js/jquery-migrate-3.3.2.min.js'>
    <link rel='stylesheet', href='/js/bootstrap.bundle.min.js'>
    <link rel='stylesheet', href='/js/bootstrap.js'>
    <link rel='stylesheet', href='/js/bootstrap.min.js'>
    <link rel='stylesheet', href='/js/bootstrap.bundle.js.map'>
    <link rel='stylesheet', href='/js/bootstrap.bundle.min.js.map'>
    <link rel='stylesheet', href='/js/bootstrap.js.map'>
    <link rel='stylesheet', href='/js/bootstrap.min.js.map'>
    <link rel='stylesheet', href='/css/bootstrap-grid.css'>
    <link rel='stylesheet', href='/css/bootstrap-grid.css.map'>
    <link rel='stylesheet', href='/css/bootstrap-grid.min.css'>
    <link rel='stylesheet', href='/css/bootstrap-grid.min.css.map'>
    <link rel='stylesheet', href='/css/bootstrap-reboot.css'>
    <link rel='stylesheet', href='/css/bootstrap-reboot.css.map'>
    <link rel='stylesheet', href='/css/bootstrap-reboot.min.css'>
    <link rel='stylesheet', href='/css/bootstrap-reboot.min.css.map'>
    <link rel='stylesheet', href='/css/bootstrap.css'>
    <link rel='stylesheet', href='/css/bootstrap.css.map'>
    <link rel='stylesheet', href='/css/bootstrap.min.css'>
    <link rel='stylesheet', href='/css/bootstrap.min.css.map'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/editGameStyle.css">
    <title>Edit Game</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div id='header'>
        <h1>Edit:</h1>
        <h1 id='gameTitle'>"<%= foundGame.title %>"</h1>
    </div>
    <div id='body'>
        <form method='POST' action='/game/<%= foundGame._id %>?_method=PUT'>
            <label for='title'>New Name:</label>
            <br>
            <input type='text' name='title' class='form-control' value='<%= foundGame.title %>'>
            <br>
            <label for="console">New Humidity:</label>
            <br>
            <input type="text" name="console" class='form-control' value='<%= foundGame.console %>'>
            <br>
            <label for="genre">New Growth Rate:</label>
            <br>
            <select name='genre' class='form-control' id='select'>
                    <option value='<%=foundGame.genre%>' selected>Select</option>
                <% for (i=0; i<allGenre.length; i++){ %>
                    <option value='<%= allGenre[i]._id%>'>
                        <%= allGenre[i].genre %>
                    </option>
                <% } %>
            </select>
            <br> 
            <label for="summary">New Notes:</label>
            <br>
            <input type="text" name="summary" class='form-control' value='<%= foundGame.summary %>'>
            <br>
            <label for="gamecover" id='gamecover'> New Picture URL:</label>
            <br>
            <input type="text" class='form-control' name="gamecover" value='<%= foundGame.summary %>'>
            <a href='/game' id='back'> <button type='button' class='btn btn-default'>Go Back </a> 
                <button type='submit' class='btn btn-success' class='img-circle'>Submit </button>
        </form>
    </div>
</body>
</html>