<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1><%= showGame.title %></h1>
    <h2><%= showGame.genre %></h2>
    <h3><%= showGame.console %></h3>
    <li><%= showGame.summary %></li>
    <br>
    <form action='/game/<%= showGame._id %>?_method=DELETE' method='POST'>
        <input type='submit' value='Delete Game'/>
    </form>

</body>
</html>