<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/editMusicStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div id='body'>
        <br>
        <h1>Edit: "<%= foundMusic.title %>"</h1>
        <form method='POST' action='/music/<%= foundMusic._id %>?_method=PUT'>
            <label for='title'>New Song Title:</label>
            <input type='text' name='title' value='<%= foundMusic.title %>'>
            <br>
            <label for="artist">New Artist:</label>
            <input type="text" name="artist" value='<%= foundMusic.artist %>'>
            <br>
            <label for="genre">New Genre:</label>
            <input type="text" name="genre" value='<%= foundMusic.genre %>'>
            <br>
            <label for="link">New Song link:</label>
            <input type="text" name="link" value='<%= foundMusic.link %>'>
            <br>
            <label for="musiccover" id='musiccover'>New Album Cover:</label>
            <input type="text" name="musiccover">
            <br>
            <input type='submit'>
        </form>
    </div>
</body>
</html>