<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet', href='/js/bootstrap.bundle.js'>
    <link rel='stylesheet', href='/js/jquery-migrate-3.3.2.min.js'>
    <link rel='stylesheet', href='/js/bootstrap.bundle.min.js'>
    <link rel='stylesheet', href='/js/bootstrap.js'>
    <link rel='stylesheet', href='/js/bootstrap.min.js'>
    <link rel='stylesheet', href='/js/bootstrap.bundle.js.map'>
    <link rel='stylesheet', href='/js/bootstrap.bundle.min.js.map'>
    <link rel='stylesheet', href='/js/bootstrap.js.map'>
    <link rel='stylesheet', href='/js/bootstrap.min.js.map'>
    <link rel='stylesheet', href='/css/bootstrap-grid.css'>
    <link rel='stylesheet', href='/css/bootstrap-grid.css.map'>
    <link rel='stylesheet', href='/css/bootstrap-grid.min.css'>
    <link rel='stylesheet', href='/css/bootstrap-grid.min.css.map'>
    <link rel='stylesheet', href='/css/bootstrap-reboot.css'>
    <link rel='stylesheet', href='/css/bootstrap-reboot.css.map'>
    <link rel='stylesheet', href='/css/bootstrap-reboot.min.css'>
    <link rel='stylesheet', href='/css/bootstrap-reboot.min.css.map'>
    <link rel='stylesheet', href='/css/bootstrap.css'>
    <link rel='stylesheet', href='/css/bootstrap.css.map'>
    <link rel='stylesheet', href='/css/bootstrap.min.css'>
    <link rel='stylesheet', href='/css/bootstrap.min.css.map'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/musicStyle.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1 id='title'>Music</h1>
    <br>
    <br>
    <a href='/music/newMusic' class='btn btn-primary' id='add'>Add Song</a>
    <br>
    <br>
    <% for(let i=0; i<allMusic.length; i++){ %>
        <ul id='music'>
            <div id='music-info'>
            <br>
            <a href='/music/<%= allMusic[i]._id %>'>
                <h2><%= allMusic[i].title %></h2>
            </a>
            <h3><%= allMusic[i].genre.genre %></h3>
        </div>
        <div id='allButtons'>
            <a href='/music/<%= allMusic[i]._id %>/edit' class='btn btn-primary' id='edit'>Edit Info</a>
            <form action='/music/<%= allMusic[i]._id %>?_method=DELETE' method='POST'>
                <input type='submit' value='Delete music' id='delete'  class='btn btn-danger'>
            </form>
        </div>
        </ul>
        <% } %>
</body>
</html>

